<a [routerLink]="['/restaurantes', restaurant.id]">
  <div class="place-info-box" [@restaurantAppeared]='restaurantState'>
    <span class="place-info-box-icon"><img [src]="restaurant.imagePath" /></span>

    <div class="place-info-box-content">
      <span class="place-info-box-text">{{restaurant.nome}}</span>
      <span class="place-info-box-star"><i class="fa fa-star"></i>{{restaurant.nota}}</span>
      <span class="place-info-box-detail">{{restaurant.categoria}}</span>
      <span class="place-info-box-detail">{{restaurant.entregaEstimativa}}</span>
    </div>
    <!-- /.info-box-content -->
  </div>
</a>
